<div class="sidebar w-[260px] h-screen flex flex-col items-center p-3">
    <img src="assets/images/firas.png" alt="Firas Photo" width="50%" />

    <h1 class="text-2xl font-bold my-2">Firas Klali</h1>

    <div class="flex">
        <a pButton icon="pi pi-github" outlined="true" [rounded]="true" class="m-1" size="small"
            [href]="'https://github.com/Klali-Firas'" target="_blank" rel="noopener">
        </a>
        <a pButton icon="pi pi-facebook" outlined="true" [rounded]="true" class="m-1" size="small"
            [href]="'https://facebook.com/your-facebook-username'" target="_blank" rel="noopener">
        </a>
        <a pButton icon="pi pi-linkedin" outlined="true" [rounded]="true" class="m-1" size="small"
            [href]="'https://linkedin.com/in/your-linkedin-username'" target="_blank" rel="noopener">
        </a>
        <a pButton icon="pi pi-instagram" outlined="true" [rounded]="true" class="m-1" size="small"
            [href]="'https://instagram.com/your-instagram-username'" target="_blank" rel="noopener">
        </a>
        <a pButton icon="pi pi-whatsapp" outlined="true" [rounded]="true" class="m-1" size="small"
            [href]="'https://wa.me/your-whatsapp-number'" target="_blank" rel="noopener">
        </a>
    </div>


</div>