<div class="w-full min-h-screen p-5">
    <h1 class="text-4xl font-bold text-center mb-10">Skills</h1>
    <div class="container">
        <div class="skill-group">
            <h2 class="text-2xl font-semibold mb-4">Frontend</h2>
            <div class="skill-cards-container">
                <div class="div-card">
                    <div class="div-card-item angular" title="Level : Proficient"></div>
                    <span>Angular</span>
                </div>

                <div class="div-card">
                    <div class="div-card-item react" title="Level : Proficient"></div>
                    <span>React</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item javascript" title="Level : Proficient"></div>
                    <span>JavaScript</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item typescript" title="Level : Proficient"></div>
                    <span>TypeScript</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item flutter" title="Level : Proficient"></div>
                    <span>Flutter</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item nextjs" title="Level : Proficient"></div>
                    <span>Next.js</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item drawio" title="Level : Proficient"></div>
                    <span>Draw.io</span>
                </div>
            </div>
        </div>
        <div class="skill-group">
            <h2 class="text-2xl font-semibold mb-4">Backend</h2>
            <div class="skill-cards-container">

                <div class="div-card">
                    <div class="div-card-item springboot" title="Level : Proficient"></div>
                    <span>Spring Boot</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item python" title="Level : Proficient"></div>
                    <span>Python</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item rasa" title="Level : Proficient"></div>
                    <span>Rasa</span>
                </div>
            </div>
        </div>
        <div class="skill-group">
            <h2 class="text-2xl font-semibold mb-4">Databases</h2>
            <div class="skill-cards-container">
                <div class="div-card">
                    <div class="div-card-item mongodb" title="Level : Proficient"></div>
                    <span>MongoDB</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item postgresql" title="Level : Proficient"></div>
                    <span>PostgreSQL</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item sql" title="Level : Proficient"></div>
                    <span>SQL</span>
                </div>
            </div>
        </div>
        <div class="skill-group">
            <h2 class="text-2xl font-semibold mb-4">Tools & IDEs</h2>
            <div class="skill-cards-container">
                <div class="div-card">
                    <div class="div-card-item vscode" title="Level : Proficient"></div>
                    <span>VS Code</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item intellij" title="Level : Proficient"></div>
                    <span>IntelliJ IDEA</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item androidstudio" title="Level : Proficient"></div>
                    <span>Android Studio</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item postman" title="Level : Proficient"></div>
                    <span>Postman</span>
                </div>
            </div>
        </div>
        <div class="skill-group">
            <h2 class="text-2xl font-semibold mb-4">Design & Media</h2>
            <div class="skill-cards-container">
                <div class="div-card">
                    <div class="div-card-item adobeae" title="Level : Proficient"></div>
                    <span>Adobe After Effects</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item adobeai" title="Level : Proficient"></div>
                    <span>Adobe Illustrator</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item adobeps" title="Level : Proficient"></div>
                    <span>Adobe Photoshop</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item adobelr" title="Level : Proficient"></div>
                    <span>Adobe Lightroom</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item adobeme" title="Level : Proficient"></div>
                    <span>Adobe Media Encoder</span>
                </div>
                <div class="div-card">
                    <div class="div-card-item adobepremiere" title="Level : Proficient"></div>
                    <span>Adobe Premiere Pro</span>
                </div>
            </div>
        </div>
    </div>
</div>