<div class="w-screen flex flex-row">
  <app-side-bar class="side-bar bg-(--p-primary-contrast-color) fixed top-0 left-0"
    [class.hide-sidebar]="!sidebarVisible">

  </app-side-bar>
  <div class="main w-full relative" [ngClass]="sidebarVisible && !isSmallScreen ? 'ml-[260px]' : ''">
    <div class="fixed top-0 bg-(--p-surface-950)/80 p-1 w-full" style="backdrop-filter: blur(4px);">
      <p-button size="small" icon="pi pi-bars" outlined="true" (onClick)="toggleSidebar()"></p-button>
    </div>
    <app-about></app-about>
    <app-skills></app-skills>

  </div>
</div>
<div class="layout-mask" *ngIf="sidebarVisible" (click)="toggleSidebar()"></div>