/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";
/* @plugin "@tailwindcss/typography"; */

html,
body {
  overflow-x: hidden;
}
/* html:not(.my-app-dark) body {
  background-color: var(--p-surface-50);
}
html.my-app-dark body {
  background-color: var(--p-surface-950);
} */

html body {
  background-color: var(--p-surface-950);
}
